* {
  font-family: "Berkeley Mono";
  font-size: 13px;
  border: none;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
}

#clock,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#workspaces {
  margin: 4px 2px;
  padding: 4px 12px;
  color: #cdd6f4;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#workspaces:hover {
  background: rgba(30, 30, 46, 0.8);
  border-radius: 1px;
}

#workspaces button {
  color: #585b70;
  background: transparent;
  padding: 0px;
}

#workspaces button.active {
  color: #cdd6f4;
}

#workspaces button.focused {
  color: #89b4fa;
}
